/* RECIPES */

.stat {
    
    i {
        color: $gold;
    }
    
    .stat-title {
        color: $gold;
    }
    
}

.ing-item {
    
    i {
        color: $gold;
    }
    
}

.recipe-details-break {
    background-color: $dark-grey;
    width: 90%;
    height: 0.15rem;
    margin: 0 auto 1.1rem;
}

.ingredients-list,
.instructions-list {
    margin: 0;
}

.ingredients-list {
    
    .ing-item {
        padding: {
            top: 0.6rem;
            bottom: 0.6rem;
        }
        border-bottom: 0.03rem solid $dark-grey;
    }
    
}

.instructions {
    
    .card-title {
        margin-top: 0.6rem;
        
        @include tablet {
            margin-top: 0;
        }
        
    }
    
    ul {
        
        li {
            padding: {
            top: 0.6rem;
            bottom: 0.6rem;
            }
            border-bottom: 0.03rem solid $dark-grey;
            counter-increment: list;
            list-style-type: none;
            position: relative;
        }
        
        li::before {
            color: $gold;
            content: counter(list) ".";
            left: -0.9rem;
            position: absolute;
            text-align: right;
            width: 1.7rem;
            font-weight: 700;
        }
        
    }
    
}