/* FLASH MESSAGES */

.flash-message {
    visibility: hidden;
    width: 100%;
    padding: {
        top: 1rem;
        bottom: 1rem;
    }
    position: fixed;
    z-index: 100;
    top: 5rem;
    background-color: $dark-grey;
    color: $off-white;
    
    .message-helper {
        color: $gold;
    }
    
}

.flash-message.show {
    visibility: visible;
    animation: flashMessageShow 0.5s, flashMessageHide 0.5s 3.5s;
}