/* LINKS */

nav {
    
    ul {
        
        a {
            @include transitions {
                color: $off-white;
            }
        }
        
        a:hover {
            color: $gold;
        }
        
    }
    
}

.social-links {
    
    a {
        @include transitions {
            margin-right: 0.6rem;
            margin-left: 0.6rem;
            color: $gold;
        }
    }
    
    a:hover {
        color: $off-white;
    }
    
}

/* NAVBAR */

nav {
    @include titleFont($black);
}

.sidenav {
    @include titleFont($gold);
}

.btn-icon {
    font-size: 1.3rem;
    padding-right: 0.3rem;
}

.btn-text {
    font-size: 1.2rem;
}

.sidenav {
    
    .btn-text {
        color: $black;
    }
    
}

.sidenav {
    
    .btn-icon {
        padding: {
            left: 1.2rem;
            right: 1.2rem;
        }
        color: $black;
    }
    
}

.sidenav {
    
    li {
        padding-top: 0.6rem;
    }
    
}