/* WRAPPERS */

.index-btn-wrapper {
    margin-bottom: 1.7rem;
}

.login-register-wrapper {
    margin: {
        top: 3.4rem;
        bottom: 3.4rem;
    }
    border-radius: 0.3rem;
}

.login-wrapper,
.register-wrapper {
    padding: 1.7rem;
}

.acc-management-wrapper {
    margin-top: 1.1rem;
}

.search-option,
.search-header,
.filter-option,
.filter-header {
    border-radius: 1rem;
}

.search-form-wrapper {
    margin-top: 2.1rem;
    margin-bottom: 1.3rem;
}