<!--Allows users to change their password, after confirming existing password-->
<div class="modal-content center-align">
    <h4 class="title">Change Password</h4>
    <form class="col s12" method="POST" action="{{ url_for('change_password', username=username) }}">
        <div class="row modal-form-wrapper">
            <!--Existing Password-->
            <div class="input-field col s12">
                <i class="fas fa-lock prefix" aria-hidden="true"></i>
                <input id="existing_password" name="existing_password" type="password" class="form-control validate" minlength="6" maxlength="15" required>
                <label for="existing_password">
                    Existing Password
                    <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="6-15 characters" aria-hidden="true"></i>
                </label>
            </div>
            <!--New Password-->
            <div class="input-field col s12">
                <i class="fas fa-key prefix" aria-hidden="true"></i>
                <input id="changed_password" name="changed_password" type="password" class="form-control validate" minlength="6" maxlength="15" required>
                <label for="changed_password">
                    New Password
                    <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="6-15 characters" aria-hidden="true"></i>
                </label>
            </div>
        </div>
        <div class="row modal-btn-wrapper">
            <!--Change Password Button-->
            <button class="btn waves-effect waves-light modal-pwd-btn large-btn icon-right" type="submit" aria-label="Change password button">
                Change Password
                <i class="fas fa-user-lock" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>