<!--Allows users to delete their account, after confirming their password-->
<div class="modal-content center-align">
    <h4 class="title">Delete Account</h4>
    <h6 class="helper">Are you sure you want to delete your account?</h6>
    <p class="helper italic">
        All your recipes and data will be permanently deleted if you go ahead!
        <br>
        Confirm your password to continue...
    </p>
    <form class="col s12" method="POST" action="{{ url_for('delete_account', username=username) }}">
        <div class="row modal-form-wrapper">
            <!--Existing Password-->
            <div class="input-field col s12">
                <i class="fas fa-lock prefix" aria-hidden="true"></i>
                <input id="confirm_password" name="confirm_password" type="password" class="form-control validate" minlength="6" maxlength="15" required>
                <label for="confirm_password">
                    Confirm Password
                    <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="6-15 characters" aria-hidden="true"></i>
                </label>
            </div>
        </div>
        <div class="row modal-btn-wrapper">
            <!--Change Password Button-->
            <button class="btn waves-effect waves-light modal-acc-btn large-btn icon-right" type="submit">
                Delete Account
                <i class="fas fa-user-slash" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>