<div class="container">
    <div class="row center-align">
        <div class="col s12 m6">
            &copy; <strong>Fine Dining</strong>
        </div>
        <div class="col s12 m6 social-links">
            <!--Link to my GitHub repository for this project-->
            <a href="https://github.com/hebs87/cookbook-milestone-project-three" target="_blank" rel="noopener" aria-label="GitHub - hebs87">
                <i class="fab fa-github-square" title="hebs87" aria-hidden="true"></i>
            </a>
            <!--Link to my LinkedIn profile-->
            <a href="https://www.linkedin.com/in/sunny-hebbar-0b3008174/" target="_blank" rel="noopener" aria-label="LinkedIn - Sunny-Hebbar">
                <i class="fab fa-linkedin" title="Sunny-Hebbar" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
