{% extends "base.html" %}
{% block title %}Edit {{ recipe.name | title }} | {% endblock %}
{% block content %}

<!--Page Title-->
<div class="row center-align">
    <div class="col s12">
        <h1 class="page-title">Edit Recipe</h1>
    </div>
</div>

<!--EDIT RECIPE FORM WITH NESTED CARDS FOR RELEVANT SECTIONS-->
<!--enctype attribute used in form tag, as image file is being uploaded-->
<form method="POST" action="{{ url_for('recipes.update_recipe', recipe_id=recipe._id) }}" enctype="multipart/form-data">
    
    <!--Recipe Details Card-->
    <div class="row recipe-card card card z-depth-1 center-align">
        <!--Card Title-->
        <h3 class="card-title recipe-details-title">
            <i class="fas fa-list-ul" aria-hidden="true"></i>
            Recipe Details
        </h3>
        <!--Recipe Name Field-->
        <div class="input-field col s12">
            <input id="name" name="name" type="text" minlength="5" maxlength="50" placeholder="Recipe Name" class="form-control validate" value="{{ recipe.name | title }}" required>
            <label for="name">
                Recipe Name
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="5-50 characters" aria-hidden="true"></i>
            </label>
        </div>
        <!--Prep Time Select-->
        <div class="input-field col s12 m4">
            <select id="prep_time" name="prep_time" class="form-control validate" required>
                <option  value="" disabled selected>Preparation Time</option>
                {% for t in time %}
                    {% if t == recipe.prep_time%}
                        <option value="{{ t|capitalize }}" selected>{{ t|capitalize }}</option>
                    {% else %}
                        <option value="{{ t|capitalize }}">{{ t|capitalize }}</option>
                    {% endif%}
                {% endfor %}
            </select>
            <label for="prep_time">Preparation Time</label>
        </div>
        <!--Cook Time Select-->
        <div class="input-field col s12 m4">
            <select id="cook_time" name="cook_time" class="form-control validate" required>
                <option value="" disabled selected>Cooking Time</option>
                {% for t in time %}
                    {% if t == recipe.cook_time%}
                        <option value="{{ t|capitalize }}" selected>{{ t|capitalize }}</option>
                    {% else %}
                        <option value="{{ t|capitalize }}">{{ t|capitalize }}</option>
                    {% endif%}
                {% endfor %}
            </select>
            <label for="prep_time">Cooking Time</label>
        </div>
        <!--Serves Select-->
        <div class="input-field col s12 m4">
            <select id="serves" name="serves" class="form-control validate" required>
                <option value="" disabled selected>Serves</option>
                {% for s in serves %}
                    {% if s == recipe.serves %}
                        <option value="{{ s|capitalize }}" selected>{{ s|capitalize }}</option>
                    {% else %}
                        <option value="{{ s|capitalize }}">{{ s|capitalize }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="serves">Serves</label>
       </div>
        <!--Author Field-->
        <div class="input-field col s12">
            <input id="author" name="author" type="text" minlength="5" maxlength="50" placeholder="Who created it?" class="form-control validate" value="{{ recipe.author | title }}" required>
            <label for="author">
                Author
                <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="5-50 characters" aria-hidden="true"></i>
            </label>
        </div>
        <!--Image File Input-->
        <div class="file-field input-field col s12">
            <div class="btn small-btn">
                <i class="far fa-image" aria-hidden="true"></i>
                <input type="file" name="image" value="{{ recipe.img }}">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" name="filepath" placeholder="Add an image (optional)..." type="text" value="{{ recipe.img }}">
            </div>
        </div>
    </div>
    
    <!--Recipe Categories Card-->
    <div class="row recipe-card card card z-depth-1 center-align">
        <!--Card Title-->
        <h3 class="card-title categories-title">
            <i class="fas fa-tags" aria-hidden="true"></i>
            Categories
        </h3>
        <!--Type Select-->
        <div class="input-field col s12 m6">
            <select id="type" name="type" class="form-control validate" required>
                <option value="" disabled selected>Type</option>
                {% for t in types %}
                    {% if t == recipe.categories.type %}
                        <option value="{{ t|capitalize }}" selected>{{ t|capitalize }}</option>
                    {% else %}
                        <option value="{{ t|capitalize }}">{{ t|capitalize }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="type">Type</label>
        </div>
        <!--Occasion Select-->
        <div class="input-field col s12 m6">
            <select id="occasion" name="occasion" class="form-control validate" required>
                <option value="" disabled selected>Occasion</option>
                {% for o in occasions %}
                    {% if o == recipe.categories.occasion %}
                        <option value="{{ o|title }}" selected>{{ o|title }}</option>
                    {% else %}
                        <option value="{{ o|title }}">{{ o|title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="occasion">Occasion</label>
        </div>
        <!--Cuisine Select-->
        <div class="input-field col s12 m6">
            <select id="cuisine" name="cuisine" class="form-control validate" required>
                <option value="" disabled selected>Cuisine</option>
                {% for c in cuisines %}
                    {% if c == recipe.categories.cuisine %}
                        <option value="{{ c|title }}" selected>{{ c|title }}</option>
                    {% else %}
                        <option value="{{ c|title }}">{{ c|title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="cuisine">Cuisine</label>
        </div>
        <!--Main Ingredient Select-->
        <div class="input-field col s12 m6">
            <select id="main_ing" name="main_ing" class="form-control validate" required>
                <option value="" disabled selected>Main Ingredient</option>
                {% for main in main_ing %}
                    {% if main == recipe.categories.main_ing %}
                        <option value="{{ main|title }}" selected>{{ main|title }}</option>
                    {% else %}
                        <option value="{{ main|title }}">{{ main|title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="main_ing">Main Ingredient</label>
        </div>
    </div>
        
    <!--Ingredients Card-->
    <div class="row recipe-card card card z-depth-1 center-align">
        <!--Card Title-->
        <h3 class="card-title">
            <i class="fas fa-pizza-slice" aria-hidden="true"></i>
            Ingredients
        </h3>
        <!--Ingredient Field-->
        {% for ing in recipe.ingredients %}
        <div class="input-field ingredients edit-ingredients col s12">
            <input id="ingredients" name="ingredients" type="text" placeholder="Ingredient (one per line)" class="form-control validate" value="{{ ing|capitalize }}" required>
            <label for="ingredients"></label>
            <a id="remove-current-ing" class="waves-effect waves-light btn remove-current-ing small-btn alt"  aria-label="Remove current ingredient row">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </a>
        </div>
        {% endfor %}
        <div class="col s12 add-remove-btns">
            <!--Add Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn add-ing small-btn" aria-label="Add new ingredient row">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>

            <!--Remove Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn remove-ing small-btn alt" aria-label="Remove last instruction row">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <!--Cooking Instructions Card-->
    <div class="row recipe-card card card z-depth-1 center-align">
        <!--Card Title-->
        <h3 class="card-title">
            <i class="fas fa-list-ol" aria-hidden="true"></i>
            Instructions
        </h3>
        <!--Instruction Field-->
        {% for instruction in recipe.instructions %}
        <div class="input-field instructions edit-instructions col s12">
            <input id="instructions" name="instructions" type="text" placeholder="Instructions (one per line)" class="form-control validate" value="{{ instruction|capitalize }}" required>
            <label for="instructions"></label>
            <a class="waves-effect waves-light btn remove-current-instruction small-btn alt" aria-label="Remove current instruction row">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </a>
        </div>
        {% endfor %}
        <div class="col s12 add-remove-btns">
            <!--Add Instruction Row Btn-->
            <button type="button" class="waves-effect waves-light btn add-instruction small-btn" aria-label="Add new instruction row">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>
    
            <!--Remove Instruction Row Btn-->
            <button type="button" class="waves-effect waves-light btn remove-instruction small-btn alt" aria-label="Remove last instruction row">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>
        </div>
    </div>
        
    <!--Add Recipe Button-->
    <div class="row edit-btn-wrapper center-align">
        <div class="col s12">
            <button class="btn waves-effect waves-light edit-btn standard-btn icon-right" type="submit" name="edit-recipe" aria-label="Edit recipe button">
                Edit
                <i class="fas fa-edit" aria-hidden="true"></i>
            </button>
            <a class="btn waves-effect waves-light standard-btn icon-right" href="{{ url_for('recipes.recipe', recipe_id=recipe._id) }}" aria-label="Cancel button">
                Cancel
                <i class="fas fa-times-circle" aria-hidden="true"></i>
            </a>
        </div>
    </div>

</form>

{% endblock %}