/*------------------------------ Font Imports ------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/*-------------------------------- Variables --------------------------------*/
$cream: #ede9df;
$black: #000;
$white: #fff;
$off-white: #ececec;
$gold: #a39161;
$light-grey: #818181;
$dark-grey: #262626;
$tablet-width: 600px;
$desktop-width: 992px;

@mixin buttons() {
    background-color: $gold;
    color: $off-white;
    border-radius: 18px;
    @content;
}

@mixin transitions() {
    @content;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

@mixin images() {
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    @content;
}

@mixin titleFont($color) {
    background-color: $color;
    font: {
        family: "Dancing Script", sans-serif;
        weight: bold;
    }
    @content;
}

@mixin fontStyle {
    font: {
        size: 1.8em;
        weight: bold;
    };
    @content;
}

@mixin flashShow() {
    top: 4em;
    opacity: 1;
}

@mixin flashHide() {
    top: 0;
    opacity: 0;
}

/*---------------------------- Global Settings ----------------------------*/
main {
    flex: 1 0 auto;
}

body {
    background-color: $cream;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.row {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------------------- Buttons ---------------------------------*/
.standard-btn {
    @include buttons {
        width: 135px;
        @include transitions;
    }
}

.large-btn {
    @include buttons {
        width: 90%;
        @include transitions;
    }
}

.small-btn {
    @include buttons {
        width: 50px;
        @include transitions;
    }
}

.sm-md-btn {
    @include buttons {
        width: 50px;
        @include transitions;
    }
    @media (min-width: $tablet-width) {
        width: 135px;
    }
    i {
        @media (min-width: $tablet-width) {
            padding-right: 7px;
        }
    }
}

.small-btn.alt {
    @include transitions {
        background-color: #262626;
        color: #ececec;
        border-radius: 18px;
    }
}

.standard-btn.icon-left,
.large-btn.icon-left {
    i {
        padding-right: 7px;
    }
}

.standard-btn.icon-right,
.large-btn.icon-right {
    i {
        padding-left: 7px;
    }
}

.index-btn {
    margin-top: 20px;
}

.add-remove-btns {
    .btn {
        margin: 5px;
    }
}

.delete-yes-btn,
.delete-no-btn {
    margin: 5px;
}

.add-btn-wrapper,
.edit-btn-wrapper {
    .btn {
        margin: 0px 5px 25px;
    }
}

.options-buttons-wrapper {
    .sm-md-btn {
        margin: 2px;
    }
}

.standard-btn:hover,
.large-btn:hover,
.small-btn:hover,
.small-btn.alt:hover,
.sm-md-btn:hover,
.file-field .small-btn:focus {
    background-color: $light-grey;
}

/*------------------------------ Flash Messages ------------------------------*/
.flash-message {
    visibility: hidden;
    width: 100%;
    padding: {
        top: 1em;
        bottom: 1em;
    }
    position: fixed;
    z-index: 100;
    top: 4em;
    background-color: $dark-grey;
    color: $off-white;
}

.flash-message {
    .message-helper {
        color: $gold;
    }
}

.flash-message.show {
    visibility: visible;
    animation: flashMessageShow 0.5s, flashMessageHide 0.5s 3.5s;
}

/*--------------------------- Headers/Titles/Text ---------------------------*/
.page-title {
    @include fontStyle {
        margin: {
            top: 25px;
            bottom: 25px;
        }
        color: $gold;
    }
    @media (min-width: $tablet-width) {
        font-size: 3em;
    }
}

/* Login and Register form title */
h3 {
    @include fontStyle;
    @media (min-width: $tablet-width) {
        font-size: 2.5em;
    }
}

.ingredients,
.instructions {
    .card-title {
        padding-bottom: 10px;
        border-bottom: 1px solid $dark-grey;
    }
}

.instruction-text {
    left: 15px;
    position: relative;
}

.search-header {
    .search-form-title {
        @include fontStyle;
        @media (min-width: $tablet-width) {
            font-size: 2.5em;
        }
        i {
            color: $gold;
            margin: 0;
            @media (min-width: $tablet-width) {
                font-size: 0.9em;
                margin-right: 5px;
            }
        }
    }
}

.modal,
.search-body,
.filter-body,
.recipe-card {
    .helper {
        color: $light-grey;
    }
}

.recipe-details-text {
    color: $light-grey;
}

.recipe-card {
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 1em;
    .card-title {
        @include fontStyle;
        @media (min-width: $tablet-width) {
            font-size: 2.5em;
        }
        i {
            padding-right: 10px;
            color: $gold;
        }
    }
    h6.helper {
        margin-top: 15px;
    }
    p.helper {
        margin-bottom: 0;
    }
    .add-remove-btns {
        padding: 0;
    }
}

.recipe-details-title,
.categories-title {
    margin-bottom: 10px;
}

/*--------------------------------- Wrappers ---------------------------------*/
.index-btn-wrapper {
    margin-bottom: 25px;
}

.login-register-wrapper {
    margin: {
        top: 50px;
        bottom: 50px;
    }
    border-radius: 5px;
}

.login-wrapper,
.register-wrapper {
    padding: 25px;
}

.acc-management-wrapper {
    margin-top: 15px;
}

.search-option,
.search-header,
.filter-option,
.filter-header {
    border-radius: 1em;
}

.search-form-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
}

/*---------------------------------- Links ----------------------------------*/
nav {
    ul {
        a {
            @include transitions {
                color: $off-white;
            }
        }
        a:hover {
            color: $gold;
        }
    }
}

.social-links {
    a {
        @include transitions {
            margin-right: 15px;
            color: $gold;
        }
    }
    a:hover {
        color: $off-white;
    }
}

/*---------------------------------- Images ----------------------------------*/
nav,
.sidenav {
    .brand-logo {
        font-size: 1.9em;
        img {
            vertical-align: text-bottom;
            height: 2.2rem;
            padding: {
                left: 10px;
                right: 10px;
            }
        }
    }
}

.sidenav {
    .brand-logo {
        padding-bottom: 10px;
    }
}

.recipe-img-wrapper {
    .recipe-img {
        @include images {
            width: 100%;
            height: 150px;
            @media (min-width: $tablet-width) {
                height: 275px;
                border-radius: 1em 0 0 0;
            }
        }
    }
}

.index-img {
    border-radius: 2em;
}

.error-img {
    margin-bottom: 20px;
}

/*--------------------------------- Nav Bar ---------------------------------*/
nav {
    @include titleFont($black);
}

.sidenav {
    @include titleFont($gold);
}

.btn-icon {
    font-size: 1.3em;
    padding-right: 5px;
}

.btn-text {
    font-size: 1.2em;
}

.sidenav {
    .btn-text {
        color: $black;
    }
}

.sidenav {
    .btn-icon {
        padding: {
            left: 17px;
            right: 12px;
        }
        color: $black;
    }
}

.sidenav {
    li {
        padding-top: 10px;
    }
}

/*--------------------------------- Footer ---------------------------------*/
.page-footer {
    background-color: $dark-grey;
    color: $gold;
    font-size: 1.5em;
    padding: 1em 0;
}

.social-links {
    padding-top: 15px;
}

/*------------------------------ Login/Register ------------------------------*/
.login-register-wrapper {
    .tabs {
        .indicator {
            background-color: $gold;
        }
        .tab {
            a {
                background-color: $dark-grey;
                color: $gold;
                font-weight: bold;
            }
            a.active {
                background-color: $light-grey;
                color: $gold;
                text-shadow: 1px 1px 1px $black;
                font-weight: bold;
            }
            a.active:hover {
                background-color: $light-grey;
                color: $gold;
                font-weight: bold;
            }
        }
    }
}

/*----------------------------- Add/Edit Recipe -----------------------------*/

.edit-ingredients {
    #ingredients {
        width: 75%;
        @media (min-width: $tablet-width) {
            width: 90%;
        }
    }
}

.edit-instructions {
    #instructions {
        width: 75%;
        @media (min-width: $tablet-width) {
            width: 90%;
        }
    }
}

/*--------------------------------- Profile ---------------------------------*/

.collection-wrapper {
    border: none;
    margin-bottom: 0;
    .title {
        color: $black;
        @media (min-width: $tablet-width) {
            position: relative;
            top: 10px;
        }
    }
    .collection-item.avatar {
        min-height: 60px;
        border-bottom: none;
    }
    .link-wrapper {
        padding: 0;
    }
    .like-wrapper {
        padding: 0;
        position: relative;
        top: 12px;
    }
    .no-adds,
    .no-likes {
        padding: 0;
        margin-top: 10;
        a {
            @include transitions {
                color: gold;
            }
        }
        a:hover {
            color: $light-grey;
        }
    }
}

/*--------------------------------- Recipes ---------------------------------*/
.stat {
    i {
        color: $gold;
    }
    .stat-title {
        color: $gold;
    }
}

.ing-item {
    i {
        color: $gold;
    }
}

.recipe-details-break {
    background-color: $dark-grey;
    width: 90%;
    height: 2px;
    margin: 0 auto 15px;
}

.ingredients-list,
.instructions-list {
    margin: 0;
}

.ingredients-list {
    .ing-item {
        padding: {
            top: 10px;
            bottom: 10px;
        }
        border-bottom: 1px solid $dark-grey;
    }
}

.instructions {
    .card-title {
        margin-top: 10px;
        @media (min-width: $tablet-width) {
            margin-top: 0;
        }
    }
    ul {
        li {
            padding: {
            top: 10px;
            bottom: 10px;
            }
            border-bottom: 1px solid $dark-grey;
            counter-increment: list;
            list-style-type: none;
            position: relative;
        }
        li::before {
            color: $gold;
            content: counter(list) ".";
            left: -13px;
            position: absolute;
            text-align: right;
            width: 26px;
            font-weight: bold;
        }
    }
}

/*---------------------------------- Browse ----------------------------------*/
.search-body,
.filter-body {
    background-color: $white;
    border-radius: 1em;
}

.filter-option {
    .filter-header {
        .filter-form-title {
            @include fontStyle;
            @media (min-width: $tablet-width) {
                font-size: 2.5em;
            }
            i {
                color: $gold;
                margin: 0;
                @media (min-width: $tablet-width) {
                    font-size: 0.9em;
                    margin-right: 5px;
                }
            }
        }
    }
    .filter-body {
        height: 470px;
        overflow: visible;
        @media (min-width: $tablet-width) {
            height: 205px;
        }
        h6.helper {
            
        }
        .filter-form-wrapper {
            margin-top: 65px;
            margin-bottom: 20px;
            @media (min-width: $tablet-width) {
                margin-top: 30px;
            }
        }
    }
}

#search_form,
#filter_form {
    margin-bottom:25px;
}

.recipe-count,
.recipe-details-text,
.recipe-sorted,
.pagination-count {
    color: $gold;
    font-size: 1.2em;
}

.recipe-preview-card {
    .results-card {
        border-radius: 1em;
        margin-bottom: 25px;
        .card-image {
            @media (min-width: $tablet-width) {
                height: 96px;
            }
            img {
                @include images {
                    height: 170px;
                }
            }
        }
        .card-title {
            @include transitions {
                font: {
                    size: 1.5em;
                    weight: bold;
                }
                padding: 10px;
                height: 100px;
                overflow-y: auto;
                color: $gold;
            }
            @media (min-width: $tablet-width) {
                font-size: 1.1em;
                height: 125px;
            }
        }
        .card-title:hover {
            color: $light-grey;
        }
        .card-stats {
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: $dark-grey;
            border-radius: 0 0 1em 1em;
            color: $off-white;
            i {
                color: $gold;
            }
        }
    }
}

/*-------------------------------- Pagination --------------------------------*/
.pagination {
    margin-top: 0;
    margin-bottom: 25px;
    #previous-page:not(.disabled) {
        i {
            @include transitions {
                color: $gold;
            }
        }
        i:hover {
            color: $light-grey;
        }
    }
    #previous-page.disabled {
        i {
            display: none;
        }
    }
    .pagination-helper {
        color: $light-grey;
        display: inline;
        vertical-align: sub;
    }
    #next-page:not(.disabled) {
        i {
            @include transitions {
                color: $gold;
            }
        }
        i:hover {
            color: $light-grey;
        }
    }
    #next-page.disabled {
        i {
            display: none;
        }
    }
}

/*---------------------------------- Modals ----------------------------------*/
.modal {
    border-radius: 1em;
    .title {
        @include fontStyle;
        @media (min-width: $tablet-width) {
            font-size: 2.5em;
        }
    }
}

#rate_modal {
    width: 75vw;
    overflow-y: visible;
    @media (min-width: $tablet-width) {
        width: 50vw;
    }
    @media (min-width: $desktop-width) {
        width: 40vw;
    }
    .select-wrapper {
        width: 90%;
        margin: 15px auto;
    }
}

/*------------------------------ Form overrides ------------------------------*/
/* Form icons on when field active */
.login-wrapper,
.register-wrapper,
.modal-form-wrapper,
.search-form-wrapper {
    .prefix.active {
        color: $gold;
    }
}

/* Input bottom border when field in focus */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid $gold;
}

/* Form labels when field in focus */
label,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly]),
.dropdown-content li>a,
.dropdown-content li>span,
.select-dropdown li.disabled>span {
    color: $gold;
}

/* Dropdown list options on hover */
.select-dropdown.dropdown-content {
    li:hover:not(.optgroup),
    li>span:hover:not(.optgroup) {
        background-color: $light-grey;
        color: $off-white;        
    }
}

/* Dropdown list options when selected */
.select-dropdown.dropdown-content {
    li.selected>span,
    li:focus {
        background-color: $dark-grey;
        color: $off-white;
    }
}

body.keyboard-focused {
    .select-dropdown.dropdown-content {
        li:focus {
            background-color: $dark-grey;
            color: $off-white;
        }
    }
}



/*-------------------------------- Keyframes --------------------------------*/
@keyframes flashMessageShow {
    from {
        @include flashHide;
    }
    to {
        @include flashShow;
    }
}

@keyframes flashMessageHide {
    from {
        @include flashShow;
    }
    to {
        @include flashHide;
    }
}
