/*------------------------------ Font Imports ------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/*---------------------------- Global Settings ----------------------------*/
main {
    flex: 1 0 auto;
}

body {
    background-color: #ede9df;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.row {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------------------- Buttons ---------------------------------*/
.index-btn,
.login-wrapper .btn,
.register-wrapper .btn,
.add-btn,
.edit-btn,
.btn .add-ing,
.btn .add-instruction {
    background-color: #a39161;
    color: #ececec;
    width: 135px;
    border-radius: 18px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.index-btn:hover,
.login-wrapper .btn:hover,
.register-wrapper .btn:hover,
.add-btn:hover,
.edit-btn:hover {
    background-color: #818181;
}



/*--------------------------------- Nav Bar ---------------------------------*/
nav {
    background-color: #000000;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
}

.sidenav {
    background-color: #a39161;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
}

nav .brand-logo,
.sidenav .brand-logo {
    font-size: 1.9em;
}

.sidenav .brand-logo {
    padding-bottom: 10px;
}

nav .brand-logo img,
.sidenav .brand-logo img {
    vertical-align: text-bottom;
    height: 2.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul a {
    color: #ececec;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

nav ul a:hover {
    color: #a39161;
}

nav ul .btn-icon,
.sidenav .btn-icon {
    font-size: 1.3em;
    padding-right: 5px;
}

nav ul .btn-text,
.sidenav .btn-text {
    font-size: 1.2em;
}

.sidenav .btn-icon,
.sidenav .btn-text {
    color: #000000;
}

.sidenav .btn-icon {
    padding-left: 17px;
    padding-right: 12px;
}

.sidenav li {
    padding-top: 10px;
}

/*--------------------------------- Footer ---------------------------------*/
.page-footer {
    background-color: #262626;
    color: #ab9a6e;
    font-size: 1.5em;
    padding: 1em 0;
}

.social-links {
    padding-top: 15px;
}

.social-links a {
    margin-right: 15px;
    color: #ab9a6e;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links a:hover {
    color: #ececec;
}

/*---------------------------------- Index ----------------------------------*/
.page-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 3em;
    color: #ab9a6e;
    font-weight: bold;
}

.index-img {
    border-radius: 2em;
}

.index-btn-wrapper {
    margin-top: 5px;
    margin-bottom: 25px;
}

.index-btn {
    margin-top: 20px;
}

.index-btn i {
    padding-right: 7px;
}

/*------------------------------ Login/Register ------------------------------*/
.login-register-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.login-register-wrapper .tabs .tab a {
    background-color: #262626;
    color: #ab9a6e;
    font-weight: bold;
}

.login-register-wrapper .tabs .tab a.active {
    background-color: #818181;
    color: #ab9a6e;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.login-register-wrapper .tabs .tab a.active:hover {
    background-color: #818181;
    color: #ab9a6e;
    font-weight: bold;
}

.tabs .indicator {
    background-color: #ab9a6e
}

.login-wrapper,
.register-wrapper {
    padding: 25px;
}

h3 {
    font-size: 2.5em;
    font-weight: bold;
}

.login-wrapper .prefix.active,
.register-wrapper .prefix.active {
    color: #ab9a6e;
}

.login-wrapper .btn i,
.register-wrapper .btn i {
    padding-left: 7px;
}

/*----------------------------- Add/Edit Recipe -----------------------------*/
.recipe-card {
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 1em;
}

.recipe-card .card-title {
    font-size: 2.5em;
    font-weight: bold;
}

.recipe-card .card-title i {
    padding-right: 10px;
    color: #ab9a6e;
}

.file-field .btn,
.add-remove-btns .add-ing,
.add-remove-btns .add-instruction {
    background-color: #a39161;
    color: #ececec;
    border-radius: 18px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.add-remove-btns .remove-ing,
.add-remove-btns .remove-instruction,
.edit-ingredients .btn,
.edit-instructions .btn {
    background-color: #262626;
    color: #ececec;
    border-radius: 18px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.file-field .btn:hover,
.add-remove-btns .add-ing:hover,
.add-remove-btns .add-instruction:hover,
.add-remove-btns .remove-ing:hover,
.add-remove-btns .remove-instruction:hover,
.file-field .btn:focus,
.edit-ingredients .btn:hover,
.edit-instructions .btn:hover {
    background-color: #818181;
}

.add-btn-wrapper,
.edit-btn-wrapper {
    margin-bottom: 25px;
}

.edit-ingredients #ingredients,
.edit-instructions #instructions {
    width: 90%;
}

/*------------------------------ Form overrides ------------------------------*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ab9a6e;
}

label,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
.dropdown-content li>a,
.dropdown-content li>span,
.select-dropdown li.disabled>span {
    color: #ab9a6e;
}

.select-dropdown.dropdown-content li:hover:not(.optgroup),
.select-dropdown.dropdown-content li>span:hover:not(.optgroup) {
    background-color: #818181;
    color: #ececec;
}

.select-dropdown.dropdown-content li.selected>span,
.select-dropdown.dropdown-content li:focus,
body.keyboard-focused .select-dropdown.dropdown-content li:focus {
    background-color: #262626;
    color: #ececec;
}