/*------------------------------ Font Imports ------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/*---------------------------- Global Settings ----------------------------*/
main {
    flex: 1 0 auto;
}

body {
    background-color: #ede9df;
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.row {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------------------- Buttons ---------------------------------*/
.index-btn,
.add-btn,
.edit-btn,
.btn .add-ing,
.btn .add-instruction,
.rate-btn {
    background-color: #a39161;
    color: #ececec;
    width: 135px;
    border-radius: 18px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.login-wrapper .btn,
.register-wrapper .btn,
.change-pwd-btn, 
.delete-acc-btn,
.modal-pwd-btn, 
.modal-acc-btn,
.modal-rate-btn {
    background-color: #a39161;
    color: #ececec;
    width: 90%;
    border-radius: 18px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.index-btn:hover,
.login-wrapper .btn:hover,
.register-wrapper .btn:hover,
.add-btn:hover,
.edit-btn:hover,
.options-buttons-wrapper .btn:hover,
.rate-btn:hover,
.delete-yes-btn:hover,
.delete-no-btn:hover,
.file-field .btn:hover,
.add-remove-btns .add-ing:hover,
.add-remove-btns .add-instruction:hover,
.add-remove-btns .remove-ing:hover,
.add-remove-btns .remove-instruction:hover,
.file-field .btn:focus,
.edit-ingredients .btn:hover,
.edit-instructions .btn:hover,
.liked-btn:hover,
.change-pwd-btn:hover, 
.delete-acc-btn:hover,
.modal-rate-btn:hover,
.modal-pwd-btn:hover,
.modal-acc-btn:hover,
.submit-button-wrapper .btn:hover {
    background-color: #818181;
}

/*--------------------------------- Nav Bar ---------------------------------*/
nav {
    background-color: #000;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
}

.sidenav {
    background-color: #a39161;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
}

nav .brand-logo,
.sidenav .brand-logo {
    font-size: 1.9em;
}

.sidenav .brand-logo {
    padding-bottom: 10px;
}

nav .brand-logo img,
.sidenav .brand-logo img {
    vertical-align: text-bottom;
    height: 2.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul a {
    color: #ececec;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

nav ul a:hover {
    color: #a39161;
}

nav ul .btn-icon,
.sidenav .btn-icon {
    font-size: 1.3em;
    padding-right: 5px;
}

nav ul .btn-text,
.sidenav .btn-text {
    font-size: 1.2em;
}

.sidenav .btn-icon,
.sidenav .btn-text {
    color: #000;
}

.sidenav .btn-icon {
    padding-left: 17px;
    padding-right: 12px;
}

.sidenav li {
    padding-top: 10px;
}

/*--------------------------------- Footer ---------------------------------*/
.page-footer {
    background-color: #262626;
    color: #ab9a6e;
    font-size: 1.5em;
    padding: 1em 0;
}

.social-links {
    padding-top: 15px;
}

.social-links a {
    margin-right: 15px;
    color: #ab9a6e;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links a:hover {
    color: #ececec;
}

/*---------------------------------- Index ----------------------------------*/
.page-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.8em;
    color: #ab9a6e;
    font-weight: bold;
}

.index-img {
    border-radius: 2em;
}

.index-btn-wrapper {
    margin-top: 5px;
    margin-bottom: 25px;
}

.index-btn {
    margin-top: 20px;
}

.index-btn i,
.change-pwd-btn i, 
.delete-acc-btn i,
.rate-btn i,
.modal-rate-btn i {
    padding-right: 7px;
}

/*------------------------------ Login/Register ------------------------------*/
.login-register-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.login-register-wrapper .tabs .tab a {
    background-color: #262626;
    color: #ab9a6e;
    font-weight: bold;
}

.login-register-wrapper .tabs .tab a.active {
    background-color: #818181;
    color: #ab9a6e;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.login-register-wrapper .tabs .tab a.active:hover {
    background-color: #818181;
    color: #ab9a6e;
    font-weight: bold;
}

.tabs .indicator {
    background-color: #ab9a6e
}

.login-wrapper,
.register-wrapper {
    padding: 25px;
}

h3 {
    font-size: 1.8em;
    font-weight: bold;
}

.login-wrapper .prefix.active,
.register-wrapper .prefix.active,
.modal-form-wrapper .prefix.active,
.search-form-wrapper .prefix.active {
    color: #ab9a6e;
}

.login-wrapper .btn i,
.register-wrapper .btn i,
.add-btn i,
.edit-btn i,
.modal-pwd-btn i, 
.modal-acc-btn i {
    padding-left: 7px;
}

/*----------------------------- Add/Edit Recipe -----------------------------*/
.recipe-card {
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 1em;
}

.recipe-card .card-title,
.modal .title {
    font-size: 1.8em;
    font-weight: bold;
}

.recipe-card .card-title i {
    padding-right: 10px;
    color: #ab9a6e;
}

.file-field .btn,
.add-remove-btns .add-ing,
.add-remove-btns .add-instruction,
.liked-btn,
.options-buttons-wrapper .btn,
.delete-yes-btn,
.delete-no-btn,
.submit-button-wrapper .btn {
    background-color: #a39161;
    color: #ececec;
    border-radius: 18px;
    width: 50px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.add-remove-btns .remove-ing,
.add-remove-btns .remove-instruction,
.edit-ingredients .btn,
.edit-instructions .btn {
    background-color: #262626;
    color: #ececec;
    border-radius: 18px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.add-btn-wrapper,
.edit-btn-wrapper {
    margin-bottom: 25px;
}

.edit-ingredients #ingredients,
.edit-instructions #instructions {
    width: 75%;
}

/*--------------------------------- Profile ---------------------------------*/
.collection-wrapper {
    border: none;
    margin-bottom: 0;
}

.collection-wrapper .link-wrapper {
    padding: 0;
}

.collection-wrapper .like-wrapper {
    padding: 0;
    position: relative;
    top: 12px;
}

.collection-wrapper .collection-item.avatar {
    min-height: 60px;
    border-bottom: none;
}

.collection-wrapper .title {
    color: #000;
}

.collection-wrapper .no-adds,
.collection-wrapper .no-likes {
    padding: 0;
    margin-top: 10;
}

.collection-wrapper .no-adds a,
.collection-wrapper .no-likes a {
    color: #a39161;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.acc-management-wrapper {
    margin-top: 15px;
}

.collection-wrapper .no-adds a:hover,
.collection-wrapper .no-likes a:hover,
.recipe-preview-card .card-title:hover {
    color: #818181;
}

/*--------------------------------- Recipes ---------------------------------*/
.recipe-img-wrapper .recipe-img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 1em 1em 0 0;
}

.stat i,
.stat .stat-title,
.ing-item i {
    color: #a39161
}

.options-buttons-wrapper .btn {
    margin: 2px;
}

.delete-yes-btn,
.delete-no-btn {
    margin: 5px;
}

.recipe-details-break {
    background-color: #262626;
    width: 90%;
    height: 2px;
    margin: 0 auto 15px;
}

.ingredients .card-title,
.instructions .card-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #262626;
}

.instructions .card-title {
    margin-top: 10px;
}

.ingredients-list,
.instructions-list {
    margin: 0;
}

.ingredients-list .ing-item,
.instructions-list .instruction-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #262626;
}

.instructions ul li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
}

.instructions ul li::before {
    color: #a39161;
    content: counter(list) ".";
    left: -13px;
    position: absolute;
    text-align: right;
    width: 26px;
    font-weight: bold;
}

.instruction-text {
    left: 15px;
    position: relative;
}

/*---------------------------------- Browse ----------------------------------*/
.search-option,
.search-header,
.filter-option,
.filter-header {
    border-radius: 1em;
}

.search-body,
.filter-body {
    background-color: #fff;
    border-radius: 1em;
}

.filter-body {
    height: 470px;
    overflow: visible;
}

.search-header .search-form-title,
.filter-header .filter-form-title {
    font-size: 1.8em;
    font-weight: bold;
}

.search-header .search-form-title i,
.filter-header .filter-form-title i {
    color: #ab9a6e;
    margin: 0;
}

.search-form-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
}

.filter-form-wrapper {
    margin-top: 65px;
    margin-bottom: 20px;
}

#search_form,
#filter_form {
    margin-bottom:25px;
}

.recipe-count,
.recipe-details-text,
.recipe-sorted,
.pagination-count {
    color: #ab9a6e;
    font-size: 1.2em;
}

.recipe-preview-card .results-card {
    border-radius: 1em;
    margin-bottom: 25px;
}

.recipe-preview-card .card-image img {
    border-radius: 1em 1em 0 0;
    object-fit: cover;
    height: 170px;
}

.recipe-preview-card .card-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    color: #a39161;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.recipe-preview-card .card-stats {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #262626;
    border-radius: 0 0 1em 1em;
    color: #ececec;
}

.recipe-preview-card .card-stats i {
    color: #a39161;
}

.pagination {
    margin-top: 0;
    margin-bottom: 25px;
}

.pagination-helper {
    color: #818181;
    display: inline;
    vertical-align: sub;
}

.pagination #previous-page:not(.disabled) i,
.pagination #next-page:not(.disabled) i {
    color: #a39161;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.pagination #previous-page:not(.disabled) i:hover,
.pagination #next-page:not(.disabled) i:hover {
    color: #818181;
}

.pagination #previous-page.disabled i,
.pagination #next-page.disabled i {
    display: none;
}

/*---------------------------------- Modals ----------------------------------*/
.modal {
    border-radius: 1em;
}

#rate_modal {
    width: 75vw;
    overflow-y: visible;
}

#rate_modal .select-wrapper {
    width: 90%;
    margin: 15px auto;
}

.modal .helper,
.search-body .helper,
.filter-body .helper,
.recipe-details-text {
    color: #818181;
}

/*------------------------------ Form overrides ------------------------------*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ab9a6e;
}

label,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly]),
.dropdown-content li>a,
.dropdown-content li>span,
.select-dropdown li.disabled>span {
    color: #ab9a6e;
}

.select-dropdown.dropdown-content li:hover:not(.optgroup),
.select-dropdown.dropdown-content li>span:hover:not(.optgroup) {
    background-color: #818181;
    color: #ececec;
}

.select-dropdown.dropdown-content li.selected>span,
.select-dropdown.dropdown-content li:focus,
body.keyboard-focused .select-dropdown.dropdown-content li:focus {
    background-color: #262626;
    color: #ececec;
}

/*------------------------------ Media Queries ------------------------------*/
/* Materialize Desktop Breakpoint */
@media (min-width: 992px) {
    #rate_modal {
        width: 40vw;
    }
}

/* Materialize Tablet Breakpoint */
@media (min-width: 600px) {
    .page-title {
        font-size: 3em;
    }
    h3,
    .recipe-card .card-title,
    .modal .title,
    .search-header .search-form-title,
    .filter-header .filter-form-title {
        font-size: 2.5em;
    }
    .search-header .search-form-title i,
    .filter-header .filter-form-title i {
        font-size: 0.9em;
        margin-right: 5px;
    }
    .edit-ingredients #ingredients,
    .edit-instructions #instructions {
        width: 90%;
    }
    .collection-wrapper .title {
        position: relative;
        top: 10px;
    }
    .liked-btn,
    .options-buttons-wrapper .btn,
    .delete-yes-btn,
    .delete-no-btn,
    .submit-button-wrapper .btn {
        background-color: #a39161;
        color: #ececec;
        width: 135px;
        border-radius: 18px;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }
    .liked-btn i,
    .options-buttons-wrapper .btn i,
    .delete-yes-btn i,
    .delete-no-btn i,
    .submit-button-wrapper .btn i {
        padding-right: 7px;
    }
    .recipe-img-wrapper .recipe-img {
        height: 275px;
        border-radius: 1em 0 0 0;
    }
    .instructions .card-title {
        margin-top: 0;
    }
    .filter-body {
        height: 205px;
    }
    .filter-form-wrapper {
        margin-top: 30px;
    }
    .recipe-preview-card .card-image img {
        height: 96px;
    }
    .recipe-preview-card .card-title {
        font-size: 1.1em;
        height: 125px;
    }
    #rate_modal {
        width: 50vw;
    }
}