/* HELPERS */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* KEYFRAMES */
@keyframes flashMessageShow {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5rem;
    opacity: 1;
  }
}
@keyframes flashMessageHide {
  from {
    top: 5rem;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
/* COMPONENTS */
/* GLOBAL SETTINGS */
main {
  flex: 1 0 auto;
}

body {
  background-color: #ede9df;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
}

.row {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  vertical-align: middle;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

/* BUTTONS */
.standard-btn {
  background-color: #a39161;
  color: #ececec;
  border-radius: 1.3rem;
  width: 8.5rem;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.large-btn {
  background-color: #a39161;
  color: #ececec;
  border-radius: 1.3rem;
  width: 90%;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.small-btn {
  background-color: #a39161;
  color: #ececec;
  border-radius: 1.3rem;
  width: 3.4rem;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.sm-md-btn {
  background-color: #a39161;
  color: #ececec;
  border-radius: 1.3rem;
  width: 3.4rem;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
@media (min-width: 600px) {
  .sm-md-btn {
    width: 8.5rem;
  }
  .sm-md-btn i.icon-left {
    padding-right: 0.4rem;
  }
  .sm-md-btn i.icon-right {
    padding-left: 0.4rem;
  }
}

.small-btn.alt {
  background-color: #262626;
  color: #ececec;
  border-radius: 1.3rem;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.standard-btn.icon-left i,
.large-btn.icon-left i {
  padding-right: 0.4rem;
}

.standard-btn.icon-right i,
.large-btn.icon-right i {
  padding-left: 0.4rem;
}

.index-btn {
  margin-top: 1.3rem;
}

.add-remove-btns .btn {
  margin: 0.3rem;
}

.delete-yes-btn,
.delete-no-btn {
  margin: 0.3rem;
}

.add-btn-wrapper .btn,
.edit-btn-wrapper .btn {
  margin: 0 0.3rem 1.7rem;
}

.add-remove-btns .remove-current-ing,
.add-remove-btns .remove-current-instruction {
  margin: 0;
}

.options-buttons-wrapper .sm-md-btn {
  margin: 0.15rem;
}

.standard-btn:hover,
.large-btn:hover,
.small-btn:hover,
.small-btn.alt:hover,
.sm-md-btn:hover,
.file-field .small-btn:hover,
.standard-btn:focus,
.large-btn:focus,
.small-btn:focus,
.small-btn.alt:focus,
.sm-md-btn:focus,
.file-field .small-btn:focus {
  background-color: #818181;
}

/* FLASH MESSAGES */
.flash-message {
  visibility: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 100;
  top: 5rem;
  background-color: #262626;
  color: #ececec;
}
.flash-message .message-helper {
  color: #a39161;
}

.flash-message.show {
  visibility: visible;
  animation: flashMessageShow 0.5s, flashMessageHide 0.5s 3.5s;
}

/* HEADERS / TITLE / TEXT */
.page-title {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  font-size: 2.8rem;
  color: #a39161;
  font-weight: 700;
}
@media (min-width: 600px) {
  .page-title {
    font-size: 3rem;
  }
}

/* Login and Register form title */
.login-wrapper .form-title,
.register-wrapper .form-title {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 600px) {
  .login-wrapper .form-title,
  .register-wrapper .form-title {
    font-size: 2.5rem;
  }
}

.ingredients .card-title,
.instructions .card-title {
  padding-bottom: 0.6rem;
  border-bottom: 0.05rem solid #262626;
}

.instruction-text {
  left: 1.1rem;
  position: relative;
}

.search-header .search-form-title {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 600px) {
  .search-header .search-form-title {
    font-size: 2.5rem;
  }
}
.search-header .search-form-title i {
  color: #a39161;
  margin: 0;
}
@media (min-width: 600px) {
  .search-header .search-form-title i {
    font-size: 2.1rem;
    margin-right: 0.3rem;
  }
}

.modal .helper,
.search-body .helper,
.filter-body .helper,
.recipe-card .helper {
  color: #818181;
}

.recipe-details-text {
  color: #818181;
}

.recipe-card {
  padding: 1.7rem;
  margin-bottom: 1.7rem;
  border-radius: 1rem;
}
.recipe-card .card-title {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 600px) {
  .recipe-card .card-title {
    font-size: 2.5rem;
  }
}
.recipe-card .card-title i {
  padding-right: 0.6rem;
  color: #a39161;
}
.recipe-card h6.helper {
  margin-top: 1.1rem;
}
.recipe-card p.helper {
  margin-bottom: 0;
}
.recipe-card .add-remove-btns {
  padding: 0;
}

.recipe-details-title,
.categories-title {
  margin-bottom: 0.6rem;
}

/* WRAPPERS */
.index-btn-wrapper {
  margin-bottom: 1.7rem;
}

.login-register-wrapper {
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
  border-radius: 0.3rem;
}

.login-wrapper,
.register-wrapper {
  padding: 1.7rem;
}

.acc-management-wrapper {
  margin-top: 1.1rem;
}

.search-option,
.search-header,
.filter-option,
.filter-header {
  border-radius: 1rem;
}

.search-form-wrapper {
  margin-top: 2.1rem;
  margin-bottom: 1.3rem;
}

/* IMAGES */
nav .brand-logo,
.sidenav .brand-logo {
  font-size: 1.7rem;
}
@media (min-width: 600px) {
  nav .brand-logo,
  .sidenav .brand-logo {
    font-size: 1.9rem;
  }
}
nav .brand-logo img,
.sidenav .brand-logo img {
  vertical-align: text-bottom;
  height: 2.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.sidenav .brand-logo {
  padding-bottom: 0.6rem;
}

.recipe-img-wrapper .recipe-img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 10.7rem;
}
@media (min-width: 600px) {
  .recipe-img-wrapper .recipe-img {
    height: 18.9rem;
    border-radius: 1rem 0 0 0;
  }
}

.index-img {
  border-radius: 2rem;
}

.error-img {
  margin-bottom: 1.3rem;
}

/* FORM OVERRIDES */
/* Form icons on when field active */
.login-wrapper .prefix.active,
.register-wrapper .prefix.active,
.modal-form-wrapper .prefix.active,
.search-form-wrapper .prefix.active {
  color: #a39161;
}

/* Input bottom border when field in focus */
/* Using rem on the border size skewed the form fields alignment, so used px instead */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #a39161;
}

/* Form labels when field in focus */
label,
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]),
.dropdown-content li > a,
.dropdown-content li > span,
.select-dropdown li.disabled > span {
  color: #a39161;
}

/* Dropdown list options on hover */
.select-dropdown.dropdown-content li:hover:not(.optgroup),
.select-dropdown.dropdown-content li > span:hover:not(.optgroup) {
  background-color: #818181;
  color: #ececec;
}

/* Dropdown list options when selected */
.select-dropdown.dropdown-content li.selected > span,
.select-dropdown.dropdown-content li:focus {
  background-color: #262626;
  color: #ececec;
}

body.keyboard-focused .select-dropdown.dropdown-content li:focus {
  background-color: #262626;
  color: #ececec;
}

/* LINKS */
nav ul a {
  color: #ececec;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
nav ul a:hover {
  color: #a39161;
}

.social-links a {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  color: #a39161;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links a:hover {
  color: #ececec;
}

/* NAVBAR */
nav {
  background-color: #000;
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
}

.sidenav {
  background-color: #a39161;
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
}

.btn-icon {
  font-size: 1.3rem;
  padding-right: 0.3rem;
}

.btn-text {
  font-size: 1.2rem;
}

.sidenav .btn-text {
  color: #000;
}

.sidenav .btn-icon {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: #000;
}

.sidenav li {
  padding-top: 0.6rem;
}

/* FOOTER */
.page-footer {
  background-color: #262626;
  color: #a39161;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* MODALS */
.modal {
  border-radius: 1rem;
}
.modal .title {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 600px) {
  .modal .title {
    font-size: 2.5rem;
  }
}

#rate_modal {
  width: 75vw;
  overflow-y: visible;
}
@media (min-width: 600px) {
  #rate_modal {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  #rate_modal {
    width: 40vw;
  }
}
#rate_modal .select-wrapper {
  width: 90%;
  margin: 1.1rem auto;
}

/* PAGINATION */
.pagination-wrapper {
  margin-bottom: 1.7rem;
}

.pagination {
  margin-top: 0;
  display: inline;
}
.pagination #previous-page:not(.disabled) i {
  color: #a39161;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.pagination #previous-page:not(.disabled) i:hover {
  color: #818181;
}
.pagination #previous-page.disabled i {
  display: none;
}
.pagination #next-page:not(.disabled) i {
  color: #a39161;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.pagination #next-page:not(.disabled) i:hover {
  color: #818181;
}
.pagination #next-page.disabled i {
  display: none;
}

.pagination-helper {
  color: #818181;
  display: inline;
  vertical-align: sub;
}

/* PAGES */
/* BROWSE */
.search-body,
.filter-body {
  background-color: #fff;
  border-radius: 1rem;
}

.filter-option .filter-header .filter-form-title {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 600px) {
  .filter-option .filter-header .filter-form-title {
    font-size: 2.5rem;
  }
}
.filter-option .filter-header .filter-form-title i {
  color: #a39161;
  margin: 0;
}
@media (min-width: 600px) {
  .filter-option .filter-header .filter-form-title i {
    font-size: 2.1rem;
    margin-right: 0.3rem;
  }
}
.filter-option .filter-body {
  height: 33.6rem;
  overflow: visible;
}
@media (min-width: 600px) {
  .filter-option .filter-body {
    height: 14.1rem;
  }
}
.filter-option .filter-body .filter-form-wrapper {
  margin-top: 4.6rem;
  margin-bottom: 1.3rem;
}
@media (min-width: 600px) {
  .filter-option .filter-body .filter-form-wrapper {
    margin-top: 2.1rem;
  }
}

#search_form,
#filter_form {
  margin-bottom: 1.7rem;
}

.recipe-count,
.recipe-sorted,
.pagination-count {
  color: #a39161;
  font-size: 1.2rem;
}

.recipe-preview-card .results-card {
  border-radius: 1rem;
  margin-bottom: 1.7rem;
}
.recipe-preview-card .results-card .card-image img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 12.2rem;
}
@media (min-width: 600px) {
  .recipe-preview-card .results-card .card-image img {
    height: 6.7rem;
  }
}
.recipe-preview-card .results-card .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.6rem;
  height: 7.1rem;
  overflow-y: auto;
  color: #a39161;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
@media (min-width: 600px) {
  .recipe-preview-card .results-card .card-title {
    font-size: 1.1rem;
    height: 8.6rem;
  }
}
.recipe-preview-card .results-card .card-title:hover {
  color: #818181;
}
.recipe-preview-card .results-card .card-stats {
  padding: 0.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #262626;
  border-radius: 0 0 1rem 1rem;
  color: #ececec;
}
.recipe-preview-card .results-card .card-stats i {
  color: #a39161;
}

/* RECIPES */
.stat i {
  color: #a39161;
}
.stat .stat-title {
  color: #a39161;
}

.ing-item i {
  color: #a39161;
}

.recipe-details-break {
  background-color: #262626;
  width: 90%;
  height: 0.15rem;
  margin: 0 auto 1.1rem;
}

.ingredients-list,
.instructions-list {
  margin: 0;
}

.ingredients-list .ing-item {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.03rem solid #262626;
}

.instructions .card-title {
  margin-top: 0.6rem;
}
@media (min-width: 600px) {
  .instructions .card-title {
    margin-top: 0;
  }
}
.instructions ul li {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.03rem solid #262626;
  counter-increment: list;
  list-style-type: none;
  position: relative;
}
.instructions ul li::before {
  color: #a39161;
  content: counter(list) ".";
  left: -0.9rem;
  position: absolute;
  text-align: right;
  width: 1.7rem;
  font-weight: 700;
}

/* LOGIN / REGISTER */
.login-register-wrapper .tabs .indicator {
  background-color: #a39161;
}
.login-register-wrapper .tabs .tab a {
  background-color: #262626;
  color: #a39161;
  font-weight: 700;
}
.login-register-wrapper .tabs .tab a.active {
  background-color: #818181;
  color: #a39161;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
  font-weight: 700;
}
.login-register-wrapper .tabs .tab a.active:hover {
  background-color: #818181;
  color: #a39161;
  font-weight: 700;
}

/* PROFILE */
.collection-wrapper {
  border: none;
  margin-bottom: 0;
}
.collection-wrapper .collection-item.avatar {
  min-height: 4.2rem;
  border-bottom: none;
}
.collection-wrapper .collection-item.avatar .title {
  color: #000;
}
@media (min-width: 600px) {
  .collection-wrapper .collection-item.avatar .title {
    position: relative;
    top: 0.6rem;
  }
}
.collection-wrapper .link-wrapper {
  padding: 0;
}
.collection-wrapper .like-wrapper {
  padding: 0;
  position: relative;
  top: 0.9rem;
}
.collection-wrapper li#no-adds,
.collection-wrapper li#no-likes {
  padding: 0;
  margin-top: 0.6rem;
}
.collection-wrapper li#no-adds a,
.collection-wrapper li#no-likes a {
  color: #a39161;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.collection-wrapper li#no-adds a:hover,
.collection-wrapper li#no-likes a:hover {
  color: #818181;
}

/* ADD / EDIT RECIPE */
.edit-ingredients #ingredients {
  width: 75%;
}
@media (min-width: 600px) {
  .edit-ingredients #ingredients {
    width: 90%;
  }
}

.edit-instructions #instructions {
  width: 75%;
}
@media (min-width: 600px) {
  .edit-instructions #instructions {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
