/* BROWSE */

.search-body,
.filter-body {
    background-color: $white;
    border-radius: 1rem;
}

.filter-option {
    
    .filter-header {
        
        .filter-form-title {
            @include fontStyle;
            
            @include tablet {
                font-size: 2.5rem;
            }
            
            i {
                color: $gold;
                margin: 0;
                
                @include tablet {
                    font-size: 2.1rem;
                    margin-right: 0.3rem;
                }
                
            }
            
        }
        
    }
    
    .filter-body {
        height: 33.6rem;
        overflow: visible;
        
        @include tablet {
            height: 14.1rem;
        }
        
        .filter-form-wrapper {
            margin-top: 4.6rem;
            margin-bottom: 1.3rem;
            
            @include tablet {
                margin-top: 2.1rem;
            }
            
        }
        
    }
    
}

#search_form,
#filter_form {
    margin-bottom: 1.7rem;
}

.recipe-count,
.recipe-sorted,
.pagination-count {
    color: $gold;
    font-size: 1.2rem;
}

.recipe-preview-card {
    
    .results-card {
        border-radius: 1rem;
        margin-bottom: 1.7rem;
        
        .card-image {
            
            img {
                @include images {
                    height: 12.2rem;
                    
                    @include tablet {
                        height: 6.7rem;
                    }
                    
                }
                
            }
            
        }
        
        .card-title {
            @include transitions {
                font: {
                    size: 1.5rem;
                    weight: bold;
                }
                padding: 0.6rem;
                height: 7.1rem;
                overflow-y: auto;
                color: $gold;
            }
            
            @include tablet {
                font-size: 1.1rem;
                height: 8.6rem;
            }
            
        }
        
        .card-title:hover {
            color: $light-grey;
        }
        
        .card-stats {
            padding: 0.6rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: $dark-grey;
            border-radius: 0 0 1rem 1rem;
            color: $off-white;
            
            i {
                color: $gold;
            }
            
        }
        
    }
    
}