/* LOGIN / REGISTER */

.login-register-wrapper {
    
    .tabs {
        
        .indicator {
            background-color: $gold;
        }
        
        .tab {
            
            a {
                background-color: $dark-grey;
                color: $gold;
                font-weight: 700;
            }
            
            a.active {
                background-color: $light-grey;
                color: $gold;
                text-shadow: 0.1rem 0.1rem 0.1rem $black;
                font-weight: 700;
            }
            
            a.active:hover {
                background-color: $light-grey;
                color: $gold;
                font-weight: 700;
            }
            
        }
        
    }
    
}