/* BUTTONS */

.standard-btn {
    
    @include buttons {
        width: 8.5rem;
        @include transitions;
    }

}

.large-btn {
    
    @include buttons {
        width: 90%;
        @include transitions;
    }

}

.small-btn {

    @include buttons {
        width: 3.4rem;
        @include transitions;
    }

}

.sm-md-btn {
    
    @include buttons {
        width: 3.4rem;
        @include transitions;
    }
    
    @include tablet {
        width: 8.5rem;
        
        i.icon-left {
            padding-right: 0.4rem;
        }
        
        i.icon-right {
            padding-left: 0.4rem;
        }
    
    }
    
}

.small-btn.alt {
    
    @include transitions {
        background-color: #262626;
        color: #ececec;
        border-radius: 1.3rem;
    }
    
}

.standard-btn.icon-left,
.large-btn.icon-left {
    
    i {
        padding-right: 0.4rem;
    }
    
}

.standard-btn.icon-right,
.large-btn.icon-right {
    
    i {
        padding-left: 0.4rem;
    }
    
}

.index-btn {
    margin-top: 1.3rem;
}

.add-remove-btns {
    
    .btn {
        margin: 0.3rem;
    }
    
}

.delete-yes-btn,
.delete-no-btn {
    margin: 0.3rem;
}

.add-btn-wrapper,
.edit-btn-wrapper {
    
    .btn {
        margin: 0 0.3rem 1.7rem;
    }
    
}

.add-remove-btns {

    .remove-current-ing,
    .remove-current-instruction {
        margin: 0;
    }

}

.options-buttons-wrapper {
    
    .sm-md-btn {
        margin: 0.15rem;
    }
    
}

.standard-btn:hover,
.large-btn:hover,
.small-btn:hover,
.small-btn.alt:hover,
.sm-md-btn:hover,
.file-field .small-btn:hover,
.standard-btn:focus,
.large-btn:focus,
.small-btn:focus,
.small-btn.alt:focus,
.sm-md-btn:focus,
.file-field .small-btn:focus {
    background-color: $light-grey;
}