/*--------------------------------- Buttons ---------------------------------*/
.standard-btn {
    @include buttons {
        width: 135px;
        @include transitions;
    }
}

.large-btn {
    @include buttons {
        width: 90%;
        @include transitions;
    }
}

.small-btn {
    @include buttons {
        width: 50px;
        @include transitions;
    }
}

.sm-md-btn {
    @include buttons {
        width: 50px;
        @include transitions;
    }
    @include tablet {
        width: 135px;
        i.icon-left {
            padding-right: 7px;
        }
        i.icon-right {
            padding-left: 7px;
        }
    }
}

.small-btn.alt {
    @include transitions {
        background-color: #262626;
        color: #ececec;
        border-radius: 18px;
    }
}

.standard-btn.icon-left,
.large-btn.icon-left {
    i {
        padding-right: 7px;
    }
}

.standard-btn.icon-right,
.large-btn.icon-right {
    i {
        padding-left: 7px;
    }
}

.index-btn {
    margin-top: 20px;
}

.add-remove-btns {
    .btn {
        margin: 5px;
    }
}

.delete-yes-btn,
.delete-no-btn {
    margin: 5px;
}

.add-btn-wrapper,
.edit-btn-wrapper {
    .btn {
        margin: 0px 5px 25px;
    }
}

.add-remove-btns {
    .remove-current-ing,
    .remove-current-instruction {
        margin: 0;
    }
}

.options-buttons-wrapper {
    .sm-md-btn {
        margin: 2px;
    }
}

.standard-btn:hover,
.large-btn:hover,
.small-btn:hover,
.small-btn.alt:hover,
.sm-md-btn:hover,
.file-field .small-btn:hover,
.standard-btn:focus,
.large-btn:focus,
.small-btn:focus,
.small-btn.alt:focus,
.sm-md-btn:focus,
.file-field .small-btn:focus {
    background-color: $light-grey;
}