/* MODALS */

.modal {
    border-radius: 1rem;
    
    .title {
        @include fontStyle;
        
        @include tablet {
            font-size: 2.5rem;
        }
        
    }
    
}

#rate_modal {
    width: 75vw;
    overflow-y: visible;
    
    @include tablet {
        width: 50vw;
    }
    
    @include desktop {
        width: 40vw;
    }
    
    .select-wrapper {
        width: 90%;
        margin: 1.1rem auto;
    }
    
}