<!DOCTYPE html>
<html lang="en">

<head>

    <!--Link for Favicon-->
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/favicon-logo.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}Fine Dining</title>

    <!--Link for Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Link for FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--Link for custom CSS sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

</head>

<body>

    <!--HEADER-->
    <header class="container-fluid">
        <!--NAVBAR-->
        <!--Main Nav-->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo collection-item avatar">
                    <img class="circle" src="{{ url_for('static', filename='img/favicon-logo.png') }}" alt="Delicious Dishes Chef Logo" lazyload="on">
                    Fine Dining
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{{ url_for('index') }}">
                            <i class="btn-icon fas fa-home" aria-hidden="true"></i>
                            <span class="btn-text uppercase">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('get_recipes', page=1) }}">
                            <i class="btn-icon fas fa-utensils" aria-hidden="true"></i>
                            <span class="btn-text uppercase">Browse</span>
                        </a>
                    </li>
                    <!--Additional options if user is logged in-->
                    {% if session.user %}
                        <li>
                            <a href="{{ url_for('profile', username=session['user']) }}">
                                <i class="btn-icon fas fa-user" aria-hidden="true"></i>
                                <span class="btn-text uppercase">{{ session['user'] | capitalize }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_recipe') }}">
                                <i class="btn-icon fas fa-plus" aria-hidden="true"></i>
                                <span class="btn-text uppercase">Add Recipe</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">
                                <i class="btn-icon fas fa-sign-out-alt" aria-hidden="true"></i>
                                <span class="btn-text uppercase">Logout</span>
                            </a>
                        </li>
                    <!--If there is no user in session-->
                    {% else %}
                        <li>
                            <a href="{{ url_for('login_register') }}">
                                <i class="btn-icon fas fa-sign-in-alt" aria-hidden="true"></i>
                                <span class="btn-text uppercase">Login</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--End Main Nav-->
        <!--Mobile Side Nav-->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="{{ url_for('index') }}" class="brand-logo collection-item avatar">
                    <img class="circle" src="{{ url_for('static', filename='img/favicon-logo.png') }}" alt="Delicious Dishes Chef Logo" lazyload="on">
                    Fine Dining
                </a>
            <li>
                <a href="{{ url_for('index') }}">
                    <i class="btn-icon fas fa-home" aria-hidden="true"></i>
                    <span class="btn-text uppercase">Home</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('get_recipes', page=1) }}">
                    <i class="btn-icon fas fa-utensils" aria-hidden="true"></i>
                    <span class="btn-text uppercase">Browse</span>
                </a>
            </li>
            <!--Additional options if user is logged in-->
            {% if session.user %}
                <li>
                    <a href="{{ url_for('profile', username=session['user']) }}">
                        <i class="btn-icon fas fa-user" aria-hidden="true"></i>
                        <span class="btn-text uppercase">{{ session['user'] | capitalize }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add_recipe') }}">
                        <i class="btn-icon fas fa-plus" aria-hidden="true"></i>
                        <span class="btn-text uppercase">Add Recipe</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <i class="btn-icon fas fa-sign-out-alt" aria-hidden="true"></i>
                        <span class="btn-text uppercase">Logout</span>
                    </a>
                </li>
            <!--If there is no user in session-->
            {% else %}
                <li>
                    <a href="{{ url_for('login_register') }}">
                        <i class="btn-icon fas fa-sign-in-alt" aria-hidden="true"></i>
                        <span class="btn-text uppercase">Login</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <!--End Mobile Side Nav-->
        <!--END NAVBAR-->

    </header>
    <!--END HEADER-->

    <!--MAIN CONTENT-->
    <main>
        <div class="container">
            <!--Flashed messages to appear at the top of the page, below the Navbar-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h6 id="flash_message" class="center-align bold">
                            {{ message }}
                        </h6>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <!--Main content-->
            {% block content %} {% endblock %}
        </div>
    </main>
    <!--END MAIN CONTENT-->

    <!--FOOTER-->
    <footer class="page-footer">
        <div class="container">
            <div class="row center-align">
                <div class="col s12 m6">
                    &copy; <strong>Fine Dining</strong>
                </div>
                <div class="col s12 m6 social-links">
                    <a href="https://github.com/hebs87/cookbook-milestone-project-three" target="_blank" rel="noopener" aria-label="GitHub - hebs87">
                        <i class="fab fa-github-square" title="hebs87" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sunny-hebbar-0b3008174/" target="_blank" rel="noopener" aria-label="LinkedIn - Sunny-Hebbar">
                        <i class="fab fa-linkedin" title="Sunny-Hebbar" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--END FOOTER-->

    <!--Script tag for jQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--Script tag for Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Script tag for custom JS file-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
