<!DOCTYPE html>
<html lang="en">

<head>

    <!--Link for Favicon-->
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delicious Dishes!</title>

    <!--Link for Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Link for FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--Link for custom CSS sheet-->


</head>

<body>

    <!--HEADER-->

    <header>
        <!--NAVBAR-->
        <!--Main Nav-->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Delicious Desserts Chef Logo" lazyload="on">
                    Delicious Dishes!
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="#">
                            <i class="fas fa-home" aria-hidden="true">Home</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-utensils" aria-hidden="true"></i>Browse
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-light btn modal-trigger" href="#login-modal">
                            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>Login | Register
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--End Main Nav-->
        <!--Mobile Side Nav-->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4>Delicious Dishes!</h4>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-home" aria-hidden="true"></i>Home
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-utensils" aria-hidden="true"></i>Browse
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light btn modal-trigger" href="#login-modal">
                    <i class="fas fa-sign-in-alt" aria-hidden="true"></i>Login | Register
                </a>
            </li>
        </ul>
        <!--End Mobile Side Nav-->
        <!--END NAVBAR-->

    </header>

    <!--END HEADER-->

    <!--MAIN CONTENT-->

    <main>
        
        <!--Flashed messages to appear at the top of the viewport, below the nav-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes center-align">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        {% block content %} {% endblock %}
    </main>

    <!--END MAIN CONTENT-->

    <!--FOOTER-->

    <footer class="page-footer">
        <div class="container">
            <div class="row center-align">
                <div class="col l6 s12">
                    &copy; <strong>Delicious Dishes!</strong>
                </div>
                <div class="col 16 s12">
                    <a href="https://github.com/hebs87/cookbook-milestone-project-three" target="_blank" rel="noopener" aria-label="GitHub - hebs87">
                        <i class="fab fa-github-square" title="hebs87" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sunny-hebbar-0b3008174/" target="_blank" rel="noopener" aria-label="LinkedIn - Sunny-Hebbar">
                        <i class="fab fa-linkedin" title="Sunny-Hebbar" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!--END FOOTER-->

    <!--MODALS-->

    <div id="login-modal" class="modal">
        <div class="modal-content">
            <!--Login and register tabs-->
            <ul class="tabs tabs-fixed-width z-depth-1">
                <li class="tab">
                    <a class="active" href="#login">Login</a>
                </li>
                <li class="tab">
                    <a href="#register">Register</a>
                </li>
            </ul>

            <!--Login form-->
            <div id="login" class="col s12">
                <div class="row">
                    <form class="col s12" method="GET" action="">
                        <div class="row">
                            <!--Username-->
                            <div class="input-field col s12">
                                <i class="fas fa-user prefix" aria-hidden="true"></i>
                                <input id="username" name="username" type="text" class="form-control validate" minlength="6" maxlength="15" required>
                                <label for="username">Username</label>
                            </div>
                            <!--Password-->
                            <div class="input-field col s12">
                                <i class="fas fa-user prefix" aria-hidden="true"></i>
                                <input id="password" name="password" type="password" class="form-control validate" minlength="6" maxlength="15" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <!--Login Button-->
                            <button class="btn waves-effect waves-light" type="submit" name="login">
                                Login
                                <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!--Register form-->
            <div id="register" class="col s12">
                <div class="row">
                    <form class="col s12" method="POST" action="{{ url_for('register', _anchor='register') }}">
                        <div class="row">
                            <!--Username-->
                            <div class="input-field col s12">
                                <i class="fas fa-user prefix" aria-hidden="true"></i>
                                <input id="new_username" name="new_username" type="text" class="form-control validate" minlength="6" maxlength="15" required>
                                <label for="new_username">Username</label>
                            </div>
                            <!--Password-->
                            <div class="input-field col s12">
                                <i class="fas fa-user prefix" aria-hidden="true"></i>
                                <input id="new_password" name="new_password" type="password" class="form-control validate" minlength="6" maxlength="15" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <!--Register Button-->
                            <button class="btn waves-effect waves-light" type="submit" name="register">
                                Register
                                <i class="fas fa-user-plus"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--END MODALS-->

    <!--Script tag for jQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--Script tag for Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Script tag for custom JS file-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
