{% extends "base.html" %}
{% block content %}

<!--Page Title-->
<div class="row center-align">
    <div class="col s12">
        <h1 class="title">Recipes!</h1>
    </div>
</div>

<!--Search And Filters Form-->
<div class="row center-align">
    <form method="POST" action="">
        <div class="row card z-depth-1">
            <!--Helper Text/Instructions-->
            <h6>Search by recipe name or a category, then you may choose how to sort the results.</h6>
            <!--Search Field-->
            <div class="input-field col s12">
                <i class="fas fa-search prefix" aria-hidden="true"></i>
                <input id="search" name="search" type="text" placeholder="Search Recipe Name..." class="form-control validate" required>
                <label for="search">Search Recipe Name</label>
            </div>
            <!--Type Category Drop Down-->
            <div class="input-field col s12 m6">
                <select id="type_filter" name="type_filter" class="form-control validate" required>
                    <option value="" disabled selected>Type</option>
                    <!--Loop through time_list and inject data into the drop down menu-->
                    {% for t in time %}
                    <option value"{{ t }}">{{ t|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Occasion Category Drop Down-->
            <div class="input-field col s12 m6">
                <select id="occasion_filter" name="occasion_filter" class="form-control validate" required>
                    <option disabled selected>Occasion</option>
                    {% for t in time %}
                    <option value"{{ t }}">{{ t|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Cuisine Category Drop Down-->
            <div class="input-field col s12 m6">
                <select id="cuisine_filter" name="cuisine_filter" class="form-control validate" required>
                    <option disabled selected>Cuisine</option>
                    {% for s in serves %}
                    <option value"{{ s }}">{{ s|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Main Ingredient Category Drop Down-->
            <div class="input-field col s12 m6">
                <select id="main_ing_filter" name="main_ing_filter" class="form-control validate" required>
                    <option disabled selected>Main Ingredient</option>
                    {% for r in rating %}
                    <option value"{{ r }}">{{ r }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Submit And Reset Buttons-->
            
        </div>
        
        <!--Recipe Categories Card-->
        <div class="row card z-depth-1">
            <!--Card Title-->
            <h3><i class="fas fa-tags"></i> Categories</h3>
            <!--Type Select-->
            <div class="input-field col s12 m6">
                <select id="type" name="type" class="form-control validate" required>
                    <option disabled selected>Type</option>
                    {% for t in types %}
                    <option value"{{ t }}">{{ t|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Occasion Select-->
            <div class="input-field col s12 m6">
                <select id="occasion" name="occasion" class="form-control validate" required>
                    <option disabled selected>Occasion</option>
                    {% for o in occasions %}
                    <option value"{{ o }}">{{ o|title }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Cuisine Select-->
            <div class="input-field col s12 m6">
                <select id="cuisine" name="cuisine" class="form-control validate" required>
                    <option disabled selected>Cuisine</option>
                    {% for c in cuisines %}
                    <option value"{{ c }}">{{ c|title }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Main Ingredient Select-->
            <div class="input-field col s12 m6">
                <select id="main_ing" name="main_ing" class="form-control validate" required>
                    <option disabled selected>Main Ingredient</option>
                    {% for main in main_ing %}
                    <option value"{{ main }}">{{ main|title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <!--Ingredients Card-->
        <div class="row card z-depth-1">
            <!--Card Title-->
            <h3><i class="fas fa-pizza-slice"></i> Ingredients</h3>
            <!--Ingredient Field-->
            <div class="input-field ingredients col s12">
                <input id="ingredients" name="ingredients" type="text" placeholder="Ingredient (one per line)" class="form-control validate" required>
                <label for="ingredients"></label>
            </div>
            <!--Add Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn add-ing">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>

            <!--Remove Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn remove-ing">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>
        </div>

        <!--Cooking Instructions Card-->
        <div class="row card z-depth-1">
            <!--Card Title-->
            <h3><i class="fas fa-list-ol"></i> Instructions</h3>
            <!--Instruction Field-->
            <div class="input-field instructions col s12">
                <input id="instructions" name="instructions" type="text" placeholder="Instructions (one per line)" class="form-control validate" required>
                <label for="instructions"></label>
            </div>
            <!--Add Instruction Row Btn-->
            <button type="button" class="waves-effect waves-light btn add-instruction">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>

            <!--Remove Instruction Row Btn-->
            <button type="button" class="waves-effect waves-light btn remove-instruction">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>
        </div>
        
        <!--Add Recipe Button-->
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="register">
                Add
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

    </form>
</div>

<!--Recipe cards-->
<div class="row center-align">
    {% for recipe in recipes %}
    <!--Only display recipe if the deleted field value is false-->
    {% if recipe.deleted == False %}
    <div class="col s12 m3">
        <div id="{{ recipe._id }}" class="card results-card">
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                <!--Recipe Image-->
                <div class="card-image">
                    <img src="{{ url_for('static', filename=recipe.img) }}" alt="{{ recipe.name }}" class="activator" lazyload="on">
                </div>
                <!--Recipe Name-->
                <span class="card-title center-align grey-text text-darken-4">{{ recipe.name | title }}</span>
            </a>
            <!--Recipe Quick Stats-->
            <div class="card-content">
                <span>
                    <i class="far fa-eye" aria-hidden="true"></i><br>
                    {{ recipe.views }}
                </span>
                <span>
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i><br>
                    {{ recipe.likes }}
                </span>
                <span>
                    <i class="far fa-star" aria-hidden="true"></i><br>
                    <!--Iterate through rating array and calculate average rating-->
                    {% set rating = [] %}
                    {% for r in recipe.rating_values %}
                        {% if rating.append(r) %}
                        {% endif %}
                    {% endfor %}
                    {{ (rating | sum / rating | count) | int }}/5
                </span>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}