{% extends "base.html" %}
{% block content %}

<!--Page Title-->
<div class="row center-align">
    <div class="col s12">
        <h1 class="title">Recipes!</h1>
    </div>
</div>

<!--Search And Filters Form-->
<div class="row center-align">

    <form method="POST" action="">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <h4>
                        <i class="fas fa-search" aria-hidden="true"></i>
                        Search/
                        <i class="fas fa-filter" aria-hidden="true"></i>
                        Filter
                    </h4>
                </div>
                <div class="collapsible-body collection collapsible-collection">
                    <!--Helper Text/Instructions-->
                    <div class="col s12">
                        <h6>Search by recipe name or filter by one or multiple categories, then you may choose how to sort the results.</h6>
                    </div>
                    <!--Search Field-->
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix" aria-hidden="true"></i>
                        <input id="search" name="search" type="text" placeholder="Search Recipe Name..." class="form-control validate">
                        <label for="search">Search Recipe Name</label>
                    </div>
                    <!--Type Category Drop Down-->
                    <div class="input-field col s12 m3">
                        <select id="type_filter" name="type_filter" class="form-control validate">
                            <option value="" disabled selected>Filter by type</option>
                            <!--Loop through time_list and inject data into the drop down menu-->
                            {% for type in types %}
                            <option value"{{ type }}">{{ type|capitalize }}</option>
                            {% endfor %}
                        </select>
                        <label for="type_filter">Recipe Type</label>
                    </div>
                    <!--Occasion Category Drop Down-->
                    <div class="input-field col s12 m3">
                        <select id="occasion_filter" name="occasion_filter" class="form-control validate">
                            <option value="" disabled selected>Filter by occasion</option>
                            {% for occasion in occasions %}
                            <option value"{{ occasion }}">{{ occasion|capitalize }}</option>
                            {% endfor %}
                        </select>
                        <label for="occasion_filter">Occasion</label>
                    </div>
                    <!--Cuisine Category Drop Down-->
                    <div class="input-field col s12 m3">
                        <select id="cuisine_filter" name="cuisine_filter" class="form-control validate">
                            <option value="" disabled selected>Filter by cuisine</option>
                            {% for cuisine in cuisines %}
                            <option value"{{ cuisine }}">{{ cuisine|capitalize }}</option>
                            {% endfor %}
                        </select>
                        <label for="cuisine_filter">Cuisine</label>
                    </div>
                    <!--Main Ingredient Category Drop Down-->
                    <div class="input-field col s12 m3">
                        <select id="main_ing_filter" name="main_ing_filter" class="form-control validate">
                            <option value="" disabled selected>Filter by  main ingredient</option>
                            {% for ing in main_ing %}
                            <option value"{{ ing }}">{{ ing|capitalize }}</option>
                            {% endfor %}
                        </select>
                        <label for="main_ing_filter">Main Ingredient</label>
                    </div>
                    <!--Sort By Drop Down-->
                    <div class="input-field col s12 m6">
                        <select id="sort_by" name="sort_by" class="form-control validate">
                            <option  value="name" disabled selected>Sort by (optional)</option>
                            <option value"name">Recipe Name</option>
                            <option value"views">Most Viewed</option>
                            <option value"likes">Most Liked</option>
                            <option value"rating_values">Most Highly Rated</option>
                        </select>
                        <label for="sort_by">Sort By</label>
                    </div>
                    <!--Submit Button-->
                    <div class="col s6 m3">
                        <button id="search_btn" class="btn waves-effect waves-light" type="submit">
                            Search
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!--Reset Button-->
                    <div class="col s6 m3">
                        <a class="btn waves-effect waves-light" href="{{ url_for('get_recipes') }}">
                            Reset
                            <i class="fas fa-undo-alt" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </form>    
    
    <!--Recipe Details Card-->
    <div class="row card z-depth-1">
        <div class="col s12 center-align">
            <h6>Showing x of x recipes, sorted by x</h6>
        </div>
    </div>

</div>

<!--Recipe cards-->
<div class="row center-align">
    {% for recipe in recipes %}
    <!--Only display recipe if the deleted field value is false-->
    {% if recipe.deleted == False %}
    <div class="col s12 m3">
        <div id="{{ recipe._id }}" class="card results-card">
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                <!--Recipe Image-->
                <div class="card-image">
                    <img src="{{ url_for('static', filename=recipe.img) }}" alt="{{ recipe.name }}" class="activator" lazyload="on">
                </div>
                <!--Recipe Name-->
                <span class="card-title center-align grey-text text-darken-4">{{ recipe.name | title }}</span>
            </a>
            <!--Recipe Quick Stats-->
            <div class="card-content">
                <span>
                    <i class="far fa-eye" aria-hidden="true"></i><br>
                    {{ recipe.views }}
                </span>
                <span>
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i><br>
                    {{ recipe.likes }}
                </span>
                <span>
                    <i class="far fa-star" aria-hidden="true"></i><br>
                    <!--Iterate through rating array and calculate average rating-->
                    {% set rating = [] %}
                    {% for r in recipe.rating_values %}
                        {% if rating.append(r) %}
                        {% endif %}
                    {% endfor %}
                    {{ (rating | sum / rating | count) | int }}/5
                </span>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}