{% extends "base.html" %} {% block content %}

<!--Page Title-->
<div class="row center-align">
    <div class="col s12">
        <h1 class="title">Add A Recipe!</h1>
    </div>
</div>

<!--ADD RECIPE FORM WITH NESTED CARDS FOR RELEVANT SECTIONS-->
<div class="row center-align">
    <!--enctype attribute used in form tag, as image file is being uploaded-->
    <form method="POST" action="{{ url_for('insert_recipe') }}" enctype="multipart/form-data">
        
        <!--Recipe Details Card-->
        <div class="row card z-depth-1">
            <!--Card Title-->
            <h3><i class="fas fa-list-ul"></i>Recipe Details</h3>
            <!--Recipe Name Field-->
            <div class="input-field col s12">
                <input id="name" name="name" type="text" placeholder="Recipe Name" class="form-control validate" value="{{ recipe.name }}" required>
                <label for="name"></label>
            </div>
            <!--Prep Time Select-->
            <div class="input-field col s12 m6">
                <select id="prep_time" name="prep_time" class="form-control validate" required>
                    <option disabled selected>Preparation Time</option>
                    {% for t in time %}
                        {% if t == recipe.prep_time%}
                            <option value="{{ t|capitalize }}" selected>{{ t|capitalize }}</option>
                        {% else %}
                            <option value="{{ t|capitalize }}">{{ t|capitalize }}</option>
                        {% endif%}
                    {% endfor %}
                </select>
            </div>
            <!--Cook Time Select-->
            <div class="input-field col s12 m6">
                <select id="cook_time" name="cook_time" class="form-control validate" required>
                    <option disabled selected>Cooking Time</option>
                    {% for t in time %}
                        {% if t == recipe.cook_time%}
                            <option value="{{ t|capitalize }}" selected>{{ t|capitalize }}</option>
                        {% else %}
                            <option value="{{ t|capitalize }}">{{ t|capitalize }}</option>
                        {% endif%}
                    {% endfor %}
                </select>
            </div>
            <!--Serves Select-->
            <div class="input-field col s12 m6">
                <select id="serves" name="serves" class="form-control validate" required>
                    <option disabled selected>Serves</option>
                    {% for s in serves %}
                    <option value="{{ s }}">{{ s|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Rating Select-->
            <div class="input-field col s12 m6">
                <select id="rating" name="rating" class="form-control validate" required>
                    <option disabled selected>Rating</option>
                    {% for r in rating %}
                    <option value="{{ r }}">{{ r }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Author Field-->
            <div class="input-field col s12">
                <input id="author" name="author" type="text" placeholder="Who created it?" class="form-control validate" required>
            </div>
            <!--Image File Input-->
            <div class="file-field input-field col s12">
                <div class="btn">
                    <i class="far fa-image"></i>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" name="filepath" placeholder="Add an image (optional)..." type="text">
                </div>
            </div>
        </div>
        
        <!--Recipe Categories Card-->
        <div class="row card z-depth-1">
            <!--Card Title-->
            <h3><i class="fas fa-tags"></i> Categories</h3>
            <!--Type Select-->
            <div class="input-field col s12 m6">
                <select id="type" name="type" class="form-control validate" required>
                    <option disabled selected>Type</option>
                    {% for t in types %}
                    <option value="{{ t }}">{{ t|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Occasion Select-->
            <div class="input-field col s12 m6">
                <select id="occasion" name="occasion" class="form-control validate" required>
                    <option disabled selected>Occasion</option>
                    {% for o in occasions %}
                    <option value="{{ o }}">{{ o|title }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Cuisine Select-->
            <div class="input-field col s12 m6">
                <select id="cuisine" name="cuisine" class="form-control validate" required>
                    <option disabled selected>Cuisine</option>
                    {% for c in cuisines %}
                    <option value="{{ c }}">{{ c|title }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--Main Ingredient Select-->
            <div class="input-field col s12 m6">
                <select id="main_ing" name="main_ing" class="form-control validate" required>
                    <option disabled selected>Main Ingredient</option>
                    {% for main in main_ing %}
                    <option value="{{ main }}">{{ main|title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <!--Ingredients Card-->
        <div class="row card z-depth-1">
            <!--Card Title-->
            <h3><i class="fas fa-pizza-slice"></i> Ingredients</h3>
            <!--Ingredient Field-->
            <div class="input-field ingredients col s12">
                <input id="ingredients" name="ingredients" type="text" placeholder="Ingredient (one per line)" class="form-control validate" required>
                <label for="ingredients"></label>
            </div>
            <!--Add Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn add-ing">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>

            <!--Remove Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn remove-ing">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>
        </div>

        <!--Cooking Instructions Card-->
        <div class="row card z-depth-1">
            <!--Card Title-->
            <h3><i class="fas fa-list-ol"></i> Instructions</h3>
            <!--Instruction Field-->
            <div class="input-field instructions col s12">
                <input id="instructions" name="instructions" type="text" placeholder="Instructions (one per line)" class="form-control validate" required>
                <label for="instructions"></label>
            </div>
            <!--Add Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn add-instruction">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>

            <!--Remove Ingredient Row Btn-->
            <button type="button" class="waves-effect waves-light btn remove-instruction">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>
        </div>
        
        <!--Add Recipe Button-->
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="register">
                Add
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>

    </form>
</div>

{% endblock %}