{% extends "base.html" %}
{% block content %}


<div class="row center-align">
    
    <!--WELCOME MESSAGE-->
    <div class="col s12">
        <h1 class="title">Welcome{% if session.user %}, {{ session['user']|capitalize }}{% endif %}!</h1>
    </div>

    <!--HOME PAGE IMAGE-->
    <div class="col s12">
        <img class="responsive-img index-img" src="{{ url_for('static', filename='img/home-image.jpg') }}">
    </div>

</div>

<div class="row center-align index-btn-wrapper">

    <!--BROWSE, PROFILE, AND ADD BUTTONS-->
    <!--Options if user is logged in
    Buttons are different sizes/layouts depending on whether user is logged in/out-->
    {% if session.user %}
        <div class="col s12 m4">
            <a href="{{ url_for('get_recipes', page=1) }}" class="waves-effect waves-light btn index-btn">
                <i class="fas fa-utensils" aria-hidden="true"></i>Browse
            </a>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('profile', username=session['user']) }}" class="waves-effect waves-light btn index-btn">
                <i class="fas fa-user" aria-hidden="true"></i>Profile
            </a>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn index-btn">
                <i class="fas fa-plus" aria-hidden="true"></i>Add Recipe
            </a>
        </div>
    <!--If there is no user in session-->
    {% else %}
        <div class="col s12 m4 offset-m2">
            <a href="{{ url_for('get_recipes', page=1) }}" class="waves-effect waves-light btn index-btn">
                <i class="fas fa-utensils" aria-hidden="true"></i>Browse
            </a>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('login_register') }}" class="waves-effect waves-light btn index-btn">
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>Login
            </a>
        </div>
    {% endif %}

</div>

{% endblock %}
