{% extends "base.html" %}
{% block content %}

<!--Page Title - Recipe Name-->
<div class="row center-align">
    <div class="col s12">
        <h1 class="page-title">'s Profile Page</h1>
    </div>
</div>

<div class="row">

    <!--User's Recipes-->
    <div class="row card z-depth-1">
        <div class="col s12 center-align">
            <h4 class="subheading">My Recipes</h4>
        </div>
        <div class="col s12">
            <ul class="collection">
                
                    <li class="collection-item avatar">
                        <a href="">
                            <img src="" alt="" class="circle">
                            <span class="title"></span>
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>

</div>
{% endblock %}