{% extends "base.html" %}
{% block content %}

<!--Page Title - Recipe Name-->
<div class="row center-align">
    <div class="col s12">
        <h1 class="page-title">{{ username | capitalize }}'s Profile</h1>
    </div>
</div>

<div class="row">

    <!--User's Recipes-->
    <div class="row card z-depth-1">
        <div class="col s12 center-align">
            <h4 class="subheading">My Recipes</h4>
        </div>
        <div class="col s12">
            <ul class="collection">
                <!--If the user has added recipes, these will be displayed as a list-->
                {% for added in user_added_list %}
                    <li class="collection-item avatar">
                        <a href="{{ url_for('recipe', recipe_id=added._id) }}">
                            <img src="{{ url_for('static', filename=added.img) }}" alt="{{ added.name | title }}" class="circle">
                            <span class="title">{{ added.name | title }}</span>
                        </a>
                    </li>
                <!--If the user hasn't added any recipes, they will be invited to add a recipe-->
                {% else %}
                    <li class="collection-item avatar center-align">
                        <p>
                            You haven't added any recipes yet.
                            <br>
                            <a href="{{ url_for('add_recipe') }}">
                                Add a recipe
                            </a>
                             to get started.
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <!--User's Liked Recipes-->
    <div class="row card z-depth-1">
        <div class="col s12 center-align">
            <h4 class="subheading">Liked Recipes</h4>
        </div>
        <div class="col s12">
            <ul class="collection">
                <!--If the user has liked recipes, these will be displayed as a list-->
                {% for liked in user_liked_list %}
                    <li class="collection-item avatar">
                        <a href="{{ url_for('recipe', recipe_id=liked._id) }}">
                            <img src="{{ url_for('static', filename=liked.img) }}" alt="{{ liked.name | title }}" class="circle">
                            <span class="title">{{ liked.name | title }}</span>
                        </a>
                    </li>
                <!--If the user hasn't liked any recipes, they will be invited to browse recipes-->
                {% else %}
                    <li class="collection-item avatar center-align">
                        <p>
                            You haven't liked any recipes yet.
                            <br>
                            <a href="{{ url_for('get_recipes') }}">
                                Browse
                            </a>
                             our recipe collection to get started.
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}