{% extends "base.html" %}
{% block content %}

<!--Page Title - Recipe Name-->
<div class="row center-align">
    <div class="col s12">
        <h1 class="title">{{ recipe.name | title }}</h1>
    </div>
</div>

<!--RECIPE CARD - IMAGE AND GENERAL DETAILS-->
<div class="row center-align">

    <!--Recipe Image, Stats and Buttons Card-->
    <div class="row card z-depth-1">
        <!---->
        <div class="col s12 m6 center-align recipe-img">
            <img class="responsive-img" alt="{{ recipe.name }}"src="{{ url_for('static', filename=recipe.img) }}">
        </div>
        <div class="col s12 m6 center-align recipe-details">
            <p class="stat">
                Rating: 
                {% set rating = [] %}
                {% for r in recipe.rating_values %}
                    {% if rating.append(r) %}
                    {% endif %}
                {% endfor %}
                {{ (rating | sum / rating | count) | int }}/5
            </p>
            <p class="stat">
                Times Rated: {{ rating | count }}
            </p>
            <p class="stat">
                Prep Time: {{ recipe.prep_time }}
            </p>
            <p class="stat">
                Cook Time: {{ recipe.cook_time }}
            </p>
            <p class="stat">
                Serves: {{ recipe.serves | capitalize }}
            </p>
            <p class="stat">
                By: {{ recipe.author | title }}
            </p>
            <p class="stat">
                Added: {{ recipe.added_date }}
            </p>
        </div>
    </div>

</div>

{% endblock %}